.tagline {
	font-style: italic;
	margin: -20px 0 56px;
}

.leaderboard {
	color: #008080;
	margin-right: 16px;
}

.container {
	position: relative;
	width: 100%;
}

.page-container .hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.success {
	margin: 10px 0;
	padding: 10px;
	border-radius: 3px 3px 3px 3px;
	color: #270;
	background-color: #dff2bf;
	max-width: 1280px;
	position: absolute;
	width: 100%;
	top: -30px;
}
