.add-player-form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	width: 60em;
}

.add-player-input {
	background-color: #404040;
	color: rgba(255, 255, 255, 0.87);
	font-size: 1em;
	font-weight: bold;
	border: none;
	border-radius: 8px;
	height: 24px;
	width: 80%;
	padding: 0.6em 1.2em;
	margin-right: 16px;
}

.add-player-button {
	background-color: transparent;
}

.add-player-button:hover {
	background-color: #008080;
}
