.player-list-container {
	list-style-type: none;
	padding: 0px
}

.header-row {
	display: flex;
	padding: 8px 16px 0px;
	text-align: left;
}

.headers {
	font-size: 20px;
}

.rank {
	width: 5%;
	margin-right: 16px;
}

.player {
	width: 50%;
	margin-right: 16px;
	padding: 0px 0px 0px 48px;
}

.score {
	width: 15%;
	margin-right: 16px;
}

.scoreboard {
	width: 60em;
}


.vote {
	width: 60em;
}
